.App {
  margin-top: 0px;
  background-color: #282c34;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App h2 {
  color: whitesmoke;

  margin: 20px;
  margin-top: 40px;
  /* outline: 1px solid lime; */
}

.categ-container {
  margin-top: 60px;
  color: whitesmoke;

  /* borrar despues */
  margin: 20px;
  /* outline: 1px solid salmon; */
}
.categ-container p {
  margin-top: 60px;
}
.categ-container button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(245, 245, 245, 0.959);
  background-color: #282c34;
  border: 3px solid #61dafb;
  border-radius: 6px;
  width: 100px;
  margin: 10px 10px;
  padding: 10px;
}
.categ-container .categ-btn:hover {
  background-color: #61dafb;
  color: #282c34;
}

.score-count {
  color: whitesmoke;
  font-size: 1.2rem;
  margin: 40px 60px 20px 20px;

  /* borrar despues */
  /* outline: 1px solid lime; */
}
.score-count p {
  text-align: right;
}
.score-count span {
  color: #efa94a;
}


.questions-head {
  /* margin: 0px 50px 0px 50px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* outline: 1px solid lime; */
}
.questions-head h3{
  margin-top: 0px;
  color: whitesmoke;
  /* outline: 1px solid salmon; */
}
.question-count {
  color: whitesmoke;
  margin-bottom: 10px;
  /* outline: 1px solid salmon; */
}
.question-count span {
  color: #61dafb;
}
.question-text {
  margin: 10px 50px 20px 50px;
  padding: 50px;
  border: 4px solid #61dafb;
  border-radius: 6px;
  color: whitesmoke;
}
.question-text span {
  color: #61dafb;
}


.answer-options {
  margin: 0px 50px 30px 50px;
  padding: 50px;
  border: 4px solid #61dafb;
  border-radius: 6px;
}
.answer-options p {
  color: whitesmoke;
  text-align: start;
  margin-top: -30px;
  font-size: 14px;
}
.answers-btn button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(245, 245, 245, 0.959);
  background-color: #282c34;
  border: 3px solid #61dafb;
  border-radius: 6px;
  width: 96%;
  margin-top: 20px;
  padding: 10px;
}
.answers-btn:hover button{
  background-color: #61dafb;
  color: #282c34;
}


.retry-btn button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #ff6961;
  background-color: #282c34;
  border: 3px solid #ff6961;
  border-radius: 6px;
  margin: 10px 50px 20px 50px;
  padding: 10px 100px;
}
.retry-btn:hover button {
  background-color: #ff6961;
  color: #282c34;
}


.wrong-answer {
  color: whitesmoke;
  /* max-width: 300px; */
  padding: 40px 30px 60px;
  margin: 50px auto;
  border: 4px solid #ff6961;
  border-radius: 6px;
  max-width: 600px;
  /* outline: 3px solid #ff6961; */
}
.wrong-answer p {
  margin-top: 40px;
}
.wrong-answer p:nth-child(3) {
  margin-top: 50px;
  margin-bottom: 10px;
  /* background-color: yellow; */
}
.wrong-answer span {
  color: #efa94a;
  font-size: 30px;
}

.retry-section {
  border: 4px solid #efa94a;
}

.game-finished {
  border: 4px solid #00E900;
}
.green-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  color: #00E900;
  border: 3px solid #00E900;
  border-radius: 6px;
  width: 140px;
  margin-top: 10px;
  padding: 10px;
}
.green-btn:hover {
  background-color: #00E900;
  color: #282c34;
}