.App {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  /* outline: 1px solid salmon; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App h2 {
  color: whitesmoke;
  margin: 20px;
  margin-top: 120px;

  /* outline: 1px solid lime; */
}
.App .description{
  align-items: center;
  color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  text-align: start;
}
.app-details {
  max-width: 1040px;
  /* outline: 1px solid salmon; */
}
.app-details h3 {
  color: whitesmoke;
  margin-top: 40px;
  text-align: start;
  margin-left: 40px;
}
.app-details button {
  margin-top: 40px;
}



/* NAVBAR ----------------------------------------------------------------- */
.navbar{ /* navbar total height 179px */
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1306px; */
  margin: 0 auto;
  /* transition: all 0s ease; */
  outline: solid 1px blueviolet;
}
.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 3px 5px #0099ff52;
  background-color: rgb(255, 255, 255);
  /* outline: solid 1px var(--color-light-blue); */
}
.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-top: 20px;
  /* outline: solid 1px salmon; */
}
.nav-logo {
  width: 159px;
  height: 87px;
  margin: -2px 40px 0px 99px;
  /* outline: solid 1px lime; */
}
.navbar a{ /* all a (links) */
  color: var(--color-light-blue);
  font-family: 'D-DIN Exp', sans-serif;
  /* font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px; */
  text-decoration: none;
  /* outline: solid 1px lime; */
}
.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 99px;
  margin-top: 20px;
  /* outline: solid 1px salmon; */
}
.links a:first-child{
  margin-left: 11px;
}
.links a:nth-child(2){
  margin-left: 61px;
}
.links a:nth-child(3){
  margin-left: 61px;
}





.categ-container {
  margin-top: 60px;
  color: whitesmoke;

  /* borrar despues */
  margin: 20px;
  /* outline: 1px solid salmon; */
}
.categ-container p {
  margin-top: 60px;
}
.categ-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.categ-container button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(245, 245, 245, 0.959);
  background-color: #282c34;
  border: 3px solid #61dafb;
  border-radius: 6px;
  min-width: 100px;
  margin: 10px 10px;
  padding: 10px;
}
.categ-container .categ-btn:hover {
  background-color: #61dafb;
  color: #282c34;
}


.score-count {
  width: 1040px;
  color: whitesmoke;
  font-size: 1.2rem;

  /* borrar despues */
  /* outline: 1px solid lime; */
}
.score-count p {
  text-align: right;
}
.score-count span {
  color: #efa94a;
}


.questions-head {
  display: flex;
  flex-direction: column;
}
.questions-head h3{
  margin-top: 0px;
  color: whitesmoke;
  /* outline: 1px solid salmon; */
}
.question-count {
  color: whitesmoke;
  margin-bottom: 10px;
  /* outline: 1px solid salmon; */
}
.question-count span {
  color: #61dafb;
}
.question-text {
  margin: 40px 0 30px 0;
  border-radius: 6px;
  color: whitesmoke;
}
.question-text span {
  color: #61dafb;
}


.answer-options{
  min-width: 600px;
}

.answers-btn button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(245, 245, 245, 0.959);
  background-color: #282c34;
  border: 3px solid #61dafb;
  border-radius: 6px;
  width: 96%;
  margin-top: 20px;
  padding: 10px;
}
.answers-btn:hover button{
  background-color: #61dafb;
  color: #282c34;
}

.retry-btn{
  margin-top: 60px;
}
.retry-btn button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #ff6961;
  background-color: #282c34;
  border: 3px solid #ff6961;
  border-radius: 6px;
  padding: 10px 100px;
}
.retry-btn:hover button {
  background-color: #ff6961;
  color: #282c34;
}


.wrong-answer {
  color: whitesmoke;
  /* max-width: 300px; */
  padding: 40px 30px 60px;
  margin: 50px auto;
  border: 1px solid #ff6961;
  border-radius: 6px;
  min-width: 600px;  /* outline: 3px solid #ff6961; */
}
.wrong-answer p {
  margin-top: 40px;
}
.wrong-answer p:nth-child(3) {
  margin-top: 50px;
  margin-bottom: 10px;
  /* background-color: yellow; */
}
.wrong-answer span {
  color: #efa94a;
  font-size: 30px;
}

.retry-section {
  min-width: 600px;
  border: 1px solid #efa94a;
}

.game-finished {
  border: 1px solid #4aff4a;
  min-width: 600px;
}
.green-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  color: #4aff4a;
  border: 3px solid #4aff4a;
  border-radius: 6px;
  width: 140px;
  margin-top: 10px;
  padding: 10px;
}
.green-btn:hover {
  background-color: #4aff4a;
  color: #282c34;
  /* font-weight: 500; */
}